.box {
  width: 400px;
  height: 200px;
  border-radius: 20px;
  background: white;
  position: fixed;
  top: 20px;
  left: calc(50% - 200px);

  /* glass effect 👇 */
  opacity: 0.6;
  backdrop-filter: blur(5px);
}
